<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================= DIFFERENTIAL DRIVE ================= -->

  <gazebo>

    <plugin name="diff_drive_controller"
            filename="libgazebo_ros_diff_drive.so">

      <ros>
        <namespace>/</namespace>
      </ros>

      <!-- Wheel joints -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <!-- Wheel parameters -->
      <wheel_separation>0.54</wheel_separation>
      <wheel_diameter>0.22</wheel_diameter>

      <!-- Motion limits -->
      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>10</max_wheel_acceleration>

      <!-- Topics -->
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom</odometry_topic>

      <!-- Frames -->
      <robot_base_frame>base_link</robot_base_frame>

      <!-- Publish -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

    </plugin>

  </gazebo>

</robot>
