<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="warehouse_bot">

  <xacro:include filename="$(find my_robot)/urdf/materials.xacro"/>
  <xacro:include filename="$(find my_robot)/urdf/chassis.xacro"/>
  <xacro:include filename="$(find my_robot)/urdf/wheels.xacro"/>
  <!-- ================= MATERIALS ================= -->

 
  <!-- ================= MAIN BODY ================= -->

 
  <!-- ================= TOP SENSOR PLATFORM ================= -->

 
  <!-- ================= LEFT WHEEL ================= -->


  <!-- ================= RIGHT WHEEL ================= -->

  
  <!-- ================= WHEEL JOINTS ================= -->

  
  <!-- ================= REAR CASTER =========================-->

</robot>

